@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body{
    width: 100vw;
    min-height: 100vh;
    padding: 100px 0;
    display: flex;
    background-color: #1F1346;
    color: #fff;
    align-items: center;
    flex-direction: column;
}

.principal{
    width: 100%;
    display: flex;
    justify-content: center;
}

.migration{
    width: 80%;
    max-width: 1200px;
    text-align: center;
}

.migrationTittle{
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 700;
}

.migrationText{
    margin: 0 auto 60px;
    font-size: 1rem;
    line-height: 1.6;
    max-width: 750px;
    font-weight: 400;
}

.migrationCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    margin-bottom: 50px;
}

.thirdHead{
    font-size: 20px;
    margin-bottom: 5px;
}

.feature{
    background-color:#2E1E70;
    padding: 30px 25px;
    width: 320px;
    border-radius: 15px;
    text-align: left;
    padding: 30px 25px;
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.feature__icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #673de6;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.feature__description{
    font-size: .95rem;
    line-height: 1.5;
}

.button{
    display: inline-block;
    background-color: #673de6;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    border-radius: 10px;
    padding: 12px 30px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #8258f1;
    transform: scale(1.05);
}
