@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root{
    --neutral--0: #fff;
    --neutral--100: #f2f3f6;
    --neutral--300: #6d7081;
    --neutral--900: #000;
    --primary--200: #c5b8f8;
    --primary--300: #b39ef3;
    --primary--500: #673de6;
    --primary--600: #5025d1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
main{
    border: 1px solid black;
    height: 100vh;
    width: 100vw;          
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-width {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

.section-head{
    border: 1px solid black;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.span-head{
    background-color: var(--primary--200);
    font-size: 14px;
    font-weight: 300;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.section-tittle{
    font-size: 56px;
    font-weight: 800;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-cards{
    border: 1px solid black;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px   ;
}

.card-feature{
    border: 1px solid black;
    height: 300px;
}

.imagedelivery{
    border: 1px solid black;
    width: 30px;
    height: 30px;
}